/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */



/**
 * CSS
 * -------------------------------------------------------------------------- */

@import url("./default.css");
@import url("./components.css");

/**
 * Variables
 * -------------------------------------------------------------------------- */

@import url('https://cdn-font.hyperos.mi.com/font/css?family=MiSans_VF:VF:Chinese_Simplify,Latin&display=swap');
@import url('https://cdn-font.hyperos.mi.com/font/css?family=Misans_TC_VF:VF:Chinese_Traditional_TW&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-mono');

:root {
  --vp-font-family-base: "Inter", "MiSans VF", "MiSans TC VF";
  --vp-font-family-mono: "SF Mono";

  /* Border Radius */
  --vp-border-radius-1: 25px;
  --vp-border-radius-2: 16px;
  --vp-border-radius-3: 12px;
  --vp-border-radius-4: 7.2px;

  /* Transition Time */
  --vp-transition-time: 0.1s;

  /* Shadow */
  --vp-shadow: var(--vp-c-bg-alt) 0px 12px 25px -5px, var(--vp-c-bg-alt) 0px 7px 15px -7px;
  --vp-shadow-brand: var(--vp-c-brand-soft) 0px 12px 25px -5px, var(--vp-c-brand-soft) 0px 7px 15px -7px;

  --vp-c-brand-soft: rgba(180, 190, 254, 0.4);

  /* Post Card Gap */
  --vp-gap: 12px;

  /* Blur */
  --vp-blur: blur(5px);
}

.dark {
  --vp-c-brand-soft: rgba(180, 190, 254, 0.2);
}