/* Import */
@import url('https://fonts.cdnfonts.com/css/sf-mono');

@font-face {
  font-family: "OPPOSans";
  src: url("https://lf6-unpkg.zstaticcdn.com/silvaire-cdn/src/opposans/vf.ttf");
}

:root {
  --vp-font-family-base: "OPPOSans";
  --vp-font-family-mono: "SF Mono";
}

* {
  font-weight: 500;
}

:root {
  --vp-custom-nav-bg: rgba(239, 241, 245, 0.7);
  --vp-c-overlay: #e0e3ea;
}

.dark {
  --vp-custom-nav-bg: rgba(30, 30, 46, 0.7);
  --vp-c-overlay: #2a2b3d;
  
}

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);

  --vp-c-brand-soft: rgba(180, 190, 254, 0.3);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #8caaee 30%,
    #f4b8e4
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #8caaee 50%,
    #f4b8e4
  );

  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

/* article */
div.VPHome {
  div.VPFeatures.VPHomeFeatures {
    div.container {
      div.items {
        margin-top: 20px;
      }
    }
  }
}

.fa-solid,
.fa-regular,
.fa-brands {
  width: 1.2rem;
  vertical-align: middle;
  text-align: center;
}

:where(.iconify) {
  display: inline-block;
  flex-shrink: 0;
  font-size: 1.2rem;
  vertical-align: sub;
}

div.noTag {
  p.link-text-value {
    display: none;
  }

  div.link-text {
    padding: 0;
    margin: 0;
    display: none;
  }
}

div.VPFeatures.VPHomeFeatures {
  .item {
    width: 100%;
    padding: 5px;
  }
}

a.VPLink.no-icon.VPFeature {
  article.box {
    border: var(--vp-c-divider) 1px solid;
    border-radius: 10px;
    transition: all 0.4s ease 0s;
    margin: 0;
    box-shadow: 3px 3px 10px var(--vp-c-bg-elv);

    p.details {
      color: var(--vp-c-text-3);
      opacity: 0.9;
    }
  }

  h2 {
    font-size: 23px;
    margin-top: 0px;
    margin-bottom: 3px;
    line-height: 30px;
  }

  p.link-text-value {
    /*display: none;*/
    display: block;
    color: var(--vp-c-text-3);
    opacity: 0.6;
  }

  p.link-text-value::before {
    content: "# ";
  }

  article.box:hover h2 {
    color: var(--vp-c-brand-1);
  }

  h2 {
    transition: all 0.4s ease 0s;
  }

  article.box:hover {
    transition: all 0.4s;
    border-color: var(--vp-c-brand-1);
    box-shadow: 1px 3px 5px 3px var(--vp-c-brand-soft);
  }

  article.box:hover .icon {
    background-color: transparent;
    transition: all 0.4s;
  }

  article.box .icon {
    scale: 1.8;
    background-color: transparent;
    border-radius: 0.35rem;
    transition: all 0.4s ease 0s;
  }

  border: 0px;
}

/* button */

a.VPButton {
  border-radius: 0.7rem !important;
}

a.VPButton.medium.brand {
  background-image: linear-gradient(120deg, #f5c2e7 30%, #89b4fa);
  border: none;
  background-color: transparent;
}

a.VPButton.medium.alt {
  background-color: var(--vp-c-divider);
}

a.VPButton.medium.alt:hover {
  background-color: var(--vp-c-gutter);
}

/* Custom Block */

:root {
  --vp-custom-block-tip-bg: var(--vp-c-green-soft);
}

.custom-block.tip {
  border-color: var(--vp-c-green-2);
}

.custom-block.warning {
  border-color: var(--vp-c-yellow-2);
}

.custom-block.danger {
  border-color: var(--vp-c-red-2);
}

.custom-block.important {
  border-color: var(--vp-c-purple-1);
}

.custom-block.note {
  border-color: var(--vp-c-indigo-1);
}

/* blockquote */
blockquote {
  background-color: var(--vp-c-bg-alt);
  border: 1px solid var(--vp-c-divider) !important;
  border-radius: 0.8rem;
  padding: 10px 15px 10px 15px !important;
}

div.info.custom-block.github-alert {
  background-color: var(--vp-c-bg-soft);
  border: 1px solid var(--vp-c-divider) !important;
  border-radius: 0.8rem;
  padding: 10px 15px 10px 15px !important;
}

/* header-anchor */
.header-anchor {
  display: none;
}

/* hero image */
div.VPHero.has-image.VPHomeHero {
  img.VPImage.image-src {
    border-radius: 100%;
  }
}

/* custom-block-title */
.custom-block-title {
  font-size: 16px;
}

.custom-block {
  border-radius: 0.8rem;
  font-size: 16px;
}

a.title span {
  display: none;
}

.VPFooter {
  border-top: none !important;
}

.vp-doc .custom-block {
  padding: 8px 16px;
}

.custom-block-title {
  font-weight: 800;
}

.custom-block.warning .custom-block-title {
  color: var(--vp-c-warning-1);
}

.custom-block .custom-block-title::before {
  content: '❅';
  margin-right: 5px;
}

.custom-block.danger .custom-block-title {
  color: var(--vp-c-danger-1);
}

.custom-block.tip .custom-block-title {
  color: var(--vp-c-green-1);
}

.custom-block.important .custom-block-title {
  color: var(--vp-c-purple-1);
}

.custom-block.note .custom-block-title {
  color: var(--vp-c-note-1);
}

.vp-doc .custom-block :first-child:first-child {
  margin: 8px 0;
}

.VPMenuGroup > .title {
  font-size: 0.7rem;
}

.vp-doc s {
  text-decoration: none;
  opacity: .4;
  font-style: italic;
}

.vp-doc s:hover {
  filter: blur(0px);
}

.vp-doc h1 {
  text-align: left;
}

.some-comp.some-comp a {
  background: unset;
}

.some-comp.some-comp a[target]::after {
  content: unset;
}

pre {
  border-radius: 0.8rem !important;
  border: 1px solid var(--vp-c-divider) !important;
}

div.shiki {
  border-radius: 0.8rem !important;
  margin: 0px !important;
}

div.vp-adaptive-theme {
  margin-left: 0px !important;
  margin-right: 0px !important;
  border-radius: 0.8rem !important;
}

code {
  border-radius: 0.5rem !important;
}

img.VPImage.logo {
  border-radius: 40%;
  height: 35px;
}

/* 标题字体大小 */
.custom-block-title {
  font-size: 16px;
}

.vp-doc h2 {
  margin-top: 0px !important;
}

div.VPFeatures.VPHomeFeatures {
  div.container {
    div.items {
      background-color: var(--vp-c-bg-alt);
      border-radius: 1rem;
      border: 1px solid var(--vp-c-divider);
      padding: 5px;
    }

    box-shadow: 10px 10px 10px var(--vp-c-bg-alt);
  }
}

.VPHome {
  margin-top: 40px;
}

.VPHero {
  margin-bottom: 50px !important;
}

div.friends {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 0px 7px;
}
.custom-block.details {
  background-color: var(--vp-c-bg-alt);
  border: 1px solid var(--vp-c-divider) !important;
}

.VPDoc main {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 50px 0px;
  border-top: 1px solid var(--vp-c-divider);
  border-bottom: 1px solid var(--vp-c-divider);
}

.Layout {
  .VPNavBar {
    background-color: var(--vp-custom-nav-bg) !important;
    backdrop-filter: blur(10px) !important;
  }
}

a.VPLink.link.VPNavScreenMenuLink, div.VPNavScreenMenuGroup {
  border: 0px;
  border: 1px solid var(--vp-c-divider);
  margin: 7px 0px;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 3px 3px 3px var(--vp-c-bg-alt);
}

div.VPNavScreenMenuGroup button.button {
  padding: 0px !important;
}

div.VPNavScreenAppearance.appearance {
  border: 1px solid var(--vp-c-divider);
  box-shadow: 3px 3px 3px var(--vp-c-bg-alt);
}

.VPNavBar.screen-open {
  border: 0px !important;
}

div.VPLocalNav {
  display: none;
}

footer.VPFooter a {
  text-decoration: none !important;
}

.vp-doc h2 {
  font-weight: 800;
}

.VPDocFooter {
  margin-top: 16px !important;
}

nav.VPDocAsideOutline.has-outline {
  div#doc-outline-aria-label {
    display: none;
  }
  div.content {
    border-left: 0px;
    padding-left: 0px;
  }
  a.outline-link {
    filter: blur(1.3px);
    opacity: 0.8;
    transition: all 0.4s;
    color: var(--vp-c-text-3);
  }
  a.outline-link.active {
    filter: blur(0);
    opacity: 1;
    color: var(--vp-c-text-1);
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    white-space: normal;
  }
  a.outline-link:hover {
    filter: blur(0);
    color: var(--vp-c-text-1);
  }
  div.outline-marker {
    display: none;
  }
}

.vp-doc h2 {
  display: inline-block;
  margin-bottom: 0px !important;
  border-top: 0px !important;
}

.vp-doc h2, .marker {
  background: linear-gradient(var(--vp-c-brand-soft), var(--vp-c-brand-soft)) no-repeat center bottom / 100% 10px;
  transition: all .4s;
}
.vp-doc h2:hover, .marker:hover {
  background: linear-gradient(var(--vp-c-brand-soft), var(--vp-c-brand-soft)) no-repeat center bottom / 100% 20px;
}

.vp-doc {
  counter-reset: section-counter;
}

div.VPNavScreenMenuGroup.open button.button {
  margin-bottom: 6px;
}

.vp-doc strong {
  font-weight: 700;
}

.VPNavBar {
  user-select: none;
}

.VPNavScreen#VPNavScreen {
  * {
    user-select: none;
  }
}

.VPLink.link.VPNavBarMenuLink.active {
  color: var(--vp-c-text-1);
  opacity: 1;
}

.VPLink.link.VPNavBarMenuLink {
  color: var(--vp-c-text-3);
  opacity: .5;
}

div.aside, div.spacer {
  display: none !important;
}

header div.divider {
  display: none;
}